#### Create the classes and functions as per following description: 
- Create a class Person : 
   - The attributes of the class are name, age, city
   - The functions of the class are :
       - __init__(self, name, age, city)
       - show_details(self)
       - update_city(self, new_city)
       
- Create a class Employee which inherits the class Person:
    - The attributes of the class are name , age, city, salary, position, dept
    - The functions of the class are : 
        - __init__(self, name , age, city, salary, position, dept)
        - show_details(self)
        - update_salary(self, new_salary)
        - update_dept(self, new_dept)
        - update_position(self, new_pos)
        - inc_salary(self)
        - dec_salary
        
- Make use of the super function when necessary
- Create objects and Demonstrate working of all the functions

In [1]:
class Person:
    def __init__(self,name,age,city):
        self.name = name
        self.age = age
        self.city = city
        
    def show_details(self):
        print(f"Name       :{self.name}")
        print(f"Age        :{self.age}")
        print(f"City       :{self.city}")

    def update_city(self,new_city):
        self.city = new_city

In [2]:
# Define the Person class
class Person:
    def __init__(self, name, age, city):
        # Initialize attributes for name, age, and city
        self.name = name
        self.age = age
        self.city = city

    def show_details(self):
        # Display details about the person
        print(f"Name       : {self.name}")
        print(f"Age        : {self.age}")
        print(f"City       : {self.city}")

    def update_city(self, new_city):
        # Update the city attribute
        self.city = new_city

In [3]:
# Create a Person instance
ahmad = Person("Ahmad", 23, 'Chennai')

# Display details using the show_details method
ahmad.show_details()

Name       : Ahmad
Age        : 23
City       : Chennai

In [4]:
# Update the city using the update_city method
ahmad.update_city('Mumbai')

# Display the updated details using the show_details method
ahmad.show_details()

Name       : Ahmad
Age        : 23
City       : Mumbai

In [5]:
# Define the Employee class, which inherits from Person
class Employee(Person):
    def __init__(self, name, age, city, salary, position, dept):
        # Call the constructor of the base class (Person) using super()
        super().__init__(name, age, city)
        
        # Initialize additional attributes for salary, position, and department
        self.salary = salary
        self.position = position
        self.dept = dept

    def show_details(self):
        # Call the show_details method of the base class (Person) using super()
        super().show_details()
        
        # Display details specific to Employee
        print(f"Salary     : {self.salary}")
        print(f"Position   : {self.position}")
        print(f"Department : {self.dept}")

    def update_salary(self, new_salary):
        # Update the salary attribute
        self.salary = new_salary

    def update_dept(self, new_dept):
        # Update the department attribute
        self.dept = new_dept

    def update_position(self, new_pos):
        # Update the position attribute
        self.position = new_pos

    def inc_salary(self, amount):
        # Increase the salary attribute by a specified amount
        self.salary += amount

    def dec_salary(self, amount):
        # Decrease the salary attribute by a specified amount
        self.salary -= amount

In [6]:
# Create an Employee instance
surya = Employee("Surya", 25, "Kochi", 75000, "Sales Man", "Marketing")

# Display details using the show_details method
surya.show_details()

Name       : Surya
Age        : 25
City       : Kochi
Salary     : 75000
Position   : Sales Man
Department : Marketing

In [7]:
# Update the salary using the update_salary method
surya.update_salary(100000)

# Display updated details using the show_details method
surya.show_details()

Name       : Surya
Age        : 25
City       : Kochi
Salary     : 100000
Position   : Sales Man
Department : Marketing

In [8]:
# Update the department using the update_dept method
surya.update_dept("Operation")

# Display updated details using the show_details method
surya.show_details()

Name       : Surya
Age        : 25
City       : Kochi
Salary     : 100000
Position   : Sales Man
Department : Operation

In [9]:
# Update the position using the update_position method
surya.update_position("Manager")

# Display updated details using the show_details method
surya.show_details()

Name       : Surya
Age        : 25
City       : Kochi
Salary     : 100000
Position   : Manager
Department : Operation

In [10]:
# Increase the salary using the inc_salary method
surya.inc_salary(10000)

# Display updated details using the show_details method
surya.show_details()

Name       : Surya
Age        : 25
City       : Kochi
Salary     : 110000
Position   : Manager
Department : Operation

In [11]:
# Decrease the salary using the dec_salary method
surya.dec_salary(25000)

# Display updated details using the show_details method
surya.show_details()

Name       : Surya
Age        : 25
City       : Kochi
Salary     : 85000
Position   : Manager
Department : Operation